.caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #fff;
  padding: 20px;
}

.dark-pink-background {
  background: #b93e73 !important;
}
.light-blue-background {
  background: #b5cbea !important;
}
.blue-background {
  background: #2464b0 !important;
}
.dark-blue-background {
  background: #153a59 !important;
}
.light-pink-background {
  background: #f0508a !important;
}
